*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section{
  background-color: #f0f2f5;
}
.container{
  width: 32%;
  margin: auto;
}
.heading{
  text-align: center;
}
.heading img{
  width: 280px;
  height: 100%;
}
.content{
  background-color: white;
  border-radius: 10px;
}
.content-heading{
  text-align: center;
  padding: 10px 0px;
  line-height: 1.5;
  border-bottom: 1px solid #dadde1;
}
.details{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.input-box{
  width: 50%;
  padding: 5px;
}
.input-boxes{
  width: 100%;
  padding: 5px;
}
.details input{
  width: 100%;
  height: 40px;
  font-size: 15px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 10px;
}
.date{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}
.date-heading,.gender-heading{
  width: 100%;
  padding: 0px 10px;
}
.date-heading span{
  color: #606770;
}
.gender-heading span{
  color: #606770;
}
.date-box{
  width: 33.3%;
  padding: 10px;
}
select{
  width: 100%;
  height: 36px;
  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
span{
  font-size: 13px;
}
i{
  font-size: 13px;
  color: #606770;
}
.gender{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}
.gender-boxes{
  width: 33.3%;
  padding: 10px;
}
.gender-box{
  width: 100%;
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
label{
  font-size: 15px;
}
.terms{
  padding: 0px 20px;
}
.terms p{
  font-size: 11px;
  padding: 5px 0px;
  color: #777777;
}
.terms span{
  font-size: 11px;
  color: #385898;
}
.button{
  text-align: center;
  padding: 20px 0px;
}
button{
  padding: 7px 50px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #00a400;
  border: none;
}
.link{
  text-align: center;
  padding-bottom: 30px;
}
.link a{
  text-decoration: none;
  color:  #1877f2;
}
.link a:hover{
  text-decoration: underline;
}